@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

html {
  font-family: 'Permanent Marker', "cursive";
}

.contactContainer {
  text-align: center;
  background: black;
  color: #ffb81c;
  border: 1px solid black;
  border-radius: 300px;
  width: 600px;
  height: 600px;
  margin: auto;
}

.homePageIcons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.aboutContainer {
  margin: auto;
  padding: 10px;
}
