@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

html {
  font-family: 'Permanent Marker', "cursive";
}

.contactContainer {
  align-self: center;
  min-height: 25vh;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  background: black;
  color: #ffb81c;
  border: 1px solid black;
  border-radius: 250px;
  width: 500px;
  height: 500px;
  /* position: center; */
}

.homePageIcons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
